<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.MessageInfoMapper">

    <resultMap id="BaseResultMap" type="generator.domain.MessageInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="messageType" column="message_type" jdbcType="INTEGER"/>
            <result property="useridTo" column="userid_to" jdbcType="BIGINT"/>
            <result property="useridFrom" column="userid_from" jdbcType="BIGINT"/>
            <result property="artId" column="art_id" jdbcType="INTEGER"/>
            <result property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="read" column="read" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,message_type,userid_to,
        userid_from,art_id,comment_id,
        read,state,create_time,
        create_user,update_time,update_user
    </sql>
</mapper>
